# Expo
.expo/
dist/
web-build/

# Native
ios/
android/

# Dependencies
node_modules/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
